@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');
body{
    font-family: 'Shippori Mincho', serif;
}
/* container */
.container {
 padding-left: 1rem;
 padding-right: 1rem;
}
.container_fluid {

}
.container_centre {
    max-width: 600px;
    margin: auto;
}